@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

.h-inherit {
  height: inherit;
}

.block {
  min-width: 35rem;
}

.main {
  min-height: calc(100vh - 7rem)
}

@media screen and (max-width: 768px) {
  .block {
    min-width: 92vw;
  }
}